torch==2.4.0
torchaudio==2.4.0
torchtune==0.2.1
torchvision==0.19.0
hdf5plugin==4.4.0
ipykernel==6.29.5
jsonargparse==4.32.0
lightning==2.5
plotly==5.23.0
tensorboard==2.17.0
wandb==0.16.6
pybids
pyedflib
ancpbids
edfio
jsonargparse[signatures]
wheel
vector-quantize-pytorch
transformers
deepspeed
